<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.silence.butterfly.web.module.sys.mapper.EnumInfoMapper">
  <resultMap id="BaseResultMap" type="cn.silence.butterfly.web.module.sys.model.entity.EnumInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_no" jdbcType="VARCHAR" property="parentNo" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
    <result column="sub_no" jdbcType="VARCHAR" property="subNo" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sort_no" jdbcType="VARCHAR" property="sortNo" />
    <result column="inuse" jdbcType="BIT" property="inuse" />
    <result column="create_username" jdbcType="VARCHAR" property="createUsername" />
    <result column="update_username" jdbcType="VARCHAR" property="updateUsername" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_no, parent_name, sub_no, sub_name, remark, sort_no, inuse, create_username, 
    update_username, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.silence.butterfly.web.module.sys.model.entity.EnumInfoKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enum_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.silence.butterfly.web.module.sys.model.entity.EnumInfoKey">
    delete from enum_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.silence.butterfly.web.module.sys.model.entity.EnumInfo">
    insert into enum_info (id, parent_no, parent_name, 
      sub_no, sub_name, remark, 
      sort_no, inuse, create_username, 
      update_username, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{parentNo,jdbcType=VARCHAR}, #{parentName,jdbcType=VARCHAR}, 
      #{subNo,jdbcType=VARCHAR}, #{subName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{sortNo,jdbcType=VARCHAR}, #{inuse,jdbcType=BIT}, #{createUsername,jdbcType=VARCHAR}, 
      #{updateUsername,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.silence.butterfly.web.module.sys.model.entity.EnumInfo">
    insert into enum_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentNo != null">
        parent_no,
      </if>
      <if test="parentName != null">
        parent_name,
      </if>
      <if test="subNo != null">
        sub_no,
      </if>
      <if test="subName != null">
        sub_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="sortNo != null">
        sort_no,
      </if>
      <if test="inuse != null">
        inuse,
      </if>
      <if test="createUsername != null">
        create_username,
      </if>
      <if test="updateUsername != null">
        update_username,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentNo != null">
        #{parentNo,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null">
        #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="subNo != null">
        #{subNo,jdbcType=VARCHAR},
      </if>
      <if test="subName != null">
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        #{sortNo,jdbcType=VARCHAR},
      </if>
      <if test="inuse != null">
        #{inuse,jdbcType=BIT},
      </if>
      <if test="createUsername != null">
        #{createUsername,jdbcType=VARCHAR},
      </if>
      <if test="updateUsername != null">
        #{updateUsername,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.silence.butterfly.web.module.sys.model.entity.EnumInfo">
    update enum_info
    <set>
      <if test="parentNo != null">
        parent_no = #{parentNo,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null">
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
      <if test="subNo != null">
        sub_no = #{subNo,jdbcType=VARCHAR},
      </if>
      <if test="subName != null">
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        sort_no = #{sortNo,jdbcType=VARCHAR},
      </if>
      <if test="inuse != null">
        inuse = #{inuse,jdbcType=BIT},
      </if>
      <if test="createUsername != null">
        create_username = #{createUsername,jdbcType=VARCHAR},
      </if>
      <if test="updateUsername != null">
        update_username = #{updateUsername,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.silence.butterfly.web.module.sys.model.entity.EnumInfo">
    update enum_info
    set parent_no = #{parentNo,jdbcType=VARCHAR},
      parent_name = #{parentName,jdbcType=VARCHAR},
      sub_no = #{subNo,jdbcType=VARCHAR},
      sub_name = #{subName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=VARCHAR},
      inuse = #{inuse,jdbcType=BIT},
      create_username = #{createUsername,jdbcType=VARCHAR},
      update_username = #{updateUsername,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>