<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.silence.butterfly.web.module.sys.mapper.RoleInfoMapper">

    <resultMap id="BaseResultMap" type="cn.silence.butterfly.web.module.sys.model.entity.RoleInfo">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="roleNo" column="role_no" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="sortNo" column="sort_no" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_no,role_name,
        sort_no,remark,create_time,
        update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from role_info
        where  id = #{id,jdbcType=VARCHAR} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from role_info
        where  id = #{id,jdbcType=VARCHAR} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.silence.butterfly.web.module.sys.model.entity.RoleInfo" useGeneratedKeys="true">
        insert into role_info
        ( id,role_no,role_name
        ,sort_no,remark,create_time
        ,update_time)
        values (#{id,jdbcType=VARCHAR},#{roleNo,jdbcType=VARCHAR},#{roleName,jdbcType=VARCHAR}
        ,#{sortNo,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
        ,#{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.silence.butterfly.web.module.sys.model.entity.RoleInfo" useGeneratedKeys="true">
        insert into role_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="roleNo != null">role_no,</if>
                <if test="roleName != null">role_name,</if>
                <if test="sortNo != null">sort_no,</if>
                <if test="remark != null">remark,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=VARCHAR},</if>
                <if test="roleNo != null">#{roleNo,jdbcType=VARCHAR},</if>
                <if test="roleName != null">#{roleName,jdbcType=VARCHAR},</if>
                <if test="sortNo != null">#{sortNo,jdbcType=VARCHAR},</if>
                <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.silence.butterfly.web.module.sys.model.entity.RoleInfo">
        update role_info
        <set>
                <if test="roleNo != null">
                    role_no = #{roleNo,jdbcType=VARCHAR},
                </if>
                <if test="roleName != null">
                    role_name = #{roleName,jdbcType=VARCHAR},
                </if>
                <if test="sortNo != null">
                    sort_no = #{sortNo,jdbcType=VARCHAR},
                </if>
                <if test="remark != null">
                    remark = #{remark,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=VARCHAR} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.silence.butterfly.web.module.sys.model.entity.RoleInfo">
        update role_info
        set 
            role_no =  #{roleNo,jdbcType=VARCHAR},
            role_name =  #{roleName,jdbcType=VARCHAR},
            sort_no =  #{sortNo,jdbcType=VARCHAR},
            remark =  #{remark,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=VARCHAR} 
    </update>
</mapper>
